.html_class,
.body_class {
  margin: 0 0 0 0;
  margin-right: 0%;
  height: 100vh;
  /* height: auto; */
  width: 100%;
  /* background: rgba(40, 36, 40, 10); */
  background-color: #121811;
  overflow: auto;
}

.body_new_page,
.html_new_page {
  height: 100vh;
  margin: 0 0 0 0;
  margin-right: 0%;
  /* width: 100%; */
  background-color: #121811;
  overflow: auto;
}

.site_header {
  height: 100%;
  width: 99vw;
  position: relative;
  overflow: hidden;
  margin: 0;
}
.fix_head {
  color: rgba(246, 238, 246, 10);
  text-align: center;
  width: auto;
  height: auto;
  padding: 3% 0;
  margin: 0 0 0 40%;
  font-size: 2rem;
  font-family: "Akronim", cursive;
  overflow: hidden;
  display: inline-block;
}

.head_logo {
  width: 80px;
  height: auto;
  display: inline-block;
  margin: -2%;
}

.main_nav {
  display: flex;
  justify-content: center;
  margin: 0;
  height: 8h;
  flex-wrap: wrap;
}
.nav_link {
  width: 150px;
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
  text-decoration: none;
  color: lavender;
  background: black;
  display: inline-block;
  margin: 5px 10px;
}

.nav_link:active {
  background: rgb(0, 80, 0);
  transition: 0.5s;
}
li {
  display: block;
}
.overplay {
  position: absolute;
  margin: 30px 0 0 0;
  width: 100vw;
  height: 74%;
  object-fit: fill;
  overflow: hidden;
}
.main_style {
  height: auto;
  overflow: hidden;
  /* background-color: #3C2333; */
  background-color: #121811;
}

.main_page_name {
  position: relative;
  width: 20%;
  color: lavender;
  text-align: center;
  font-size: 2rem;
  margin: 30px auto 0;
  font-family: "Amatic SC", cursive;
}

.hr_1 {
  border-color: white;
  width: 40px;
  margin: 3px auto;
}

@keyframes border_about {
  from {
    border-color: black;
  }
  20% {
    border-top-color: aqua;
  }
  40% {
    border-right-color: aqua;
  }
  60% {
    border-bottom-color: aqua;
  }
  80% {
    border-left-color: aqua;
  }
  90% {
    border-color: #120f11;
  }
  to {
    border-color: black;
  }
}

.page_article_about {
  display: inline-block;
  vertical-align: top;
  width: 79%;
  /* height: 20%; */
  margin: 50px 10%;
  border: 4px double black;
  /* background-color:#121811; */
  background-color: #120f11;
  overflow: hidden;
  animation: border_about 5s infinite;
}
.img_page_about {
  position: relative;
  height: 15vw;
  width: 15vw;
  float: left;
  border-radius: 50%;
  margin-left: 5%;
  margin-right: 5%;
}

.page_article_about_text {
  font-size: 1rem;
  font-family: "Marck Script", cursive;
  line-height: 1.5rem;
  padding: 20px;
  padding-right: 10%;
  /* color: rgba(246, 238, 246, 10); */
  color: lavender;
}

.gallery {
  vertical-align: top;
  width: 79%;
  /* height: 22%; */
  /* height: 70vw; */
  margin: 50px 10%;
  border: 4px double black;
  overflow: hidden;
  animation: border_about 5s infinite;
  overflow: fill;
  padding: 2%;
}

.gallery2 {
  vertical-align: top;
  width: 79%;
  /* height: 22%; */
  /* height: 70vw; */
  margin: 0px 15%;
  overflow: hidden;
  overflow: fill;
  padding: 2%;
}

.work {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
}

.work2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.gallery_text {
  font-size: 1.5rem;
  font-family: "Marck Script", cursive;
  line-height: 1.5rem;
  text-align: center;
  color: lavender;
}

.content_gallery {
  display: inline-block;
  width: 250px;
  height: 200px;
  border: 3px solid black;
  border-radius: 5%;
  margin: 40px 10px 10px 10px;
  padding: auto;
  justify-content: space-around;
}

.img_gallery {
  display: inline-block;
  width: 200px;
  height: 110px;
  border: 3px solid black;
  border-radius: 5%;
  background-color: gray;
  margin: 5px 10%;
  justify-content: space-around;
}

.img_genre {
  display: inline-block;
  width: 200px;
  height: 110px;
  border-radius: 5%;
  background-color: gray;
}

.img_genre_book {
  display: inline-block;
  width: 110px;
  height: 200px;
  border-radius: 5%;
  background-color: gray;
}

.img_progress {
  display: inline-block;
  width: 166px;
  height: 120px;
  border-radius: 5%;
  background-color: gray;
}

.img_progress_book {
  display: inline-block;
  width: 120px;
  height: 166px;
  border-radius: 5%;
  background-color: gray;
}

.gallery_info {
  color: lavender;
  font-size: 1rem;
  text-align: center;
}

.place_pic_progress_album {
  display: inline-block;
  width: 200px;
  height: 110px;
  border-radius: 5%;
  margin: 40px 10px 10px 10px;
  padding: auto;
  justify-content: space-around;
}

.place_pic_progress_book {
  display: inline-block;
  width: 110px;
  height: 200px;
  border-radius: 5%;
  margin: 40px 10px 10px 10px;
  padding: auto;
  justify-content: space-around;
}

.contact {
  margin: 50px auto;
  border: 4px double black;
  background-color: #120f11;
  overflow: hidden;
  animation: border_about 5s infinite;
  width: 50%;
}

.contact_text {
  font-family: "Playfair Display", serif;
  text-align: center;
  color: lavender;
  margin: 30px;
  font-size: 1rem;
  line-height: 2rem;
}

.contact_mail {
  color: lavender;
  font-size: 0.7rem;
}

.index_foot {
  margin: 50px 0 0 0;
  width: 99vw;
  background-color: #000;
}

.foot {
  position: relative;
  margin: 50px 0 0 0;
  width: 99vw;
  background-color: #000;
  bottom: 0px;
  z-index: -1;
}

.foot_text {
  font-family: "Playfair Display", serif;
  text-align: center;
  color: lavender;
  margin: 50px 0 0 0;
  font-size: 1rem;
  line-height: 1rem;
}

.foot_contact_mail {
  color: lavender;
  font-size: 0.7rem;
}

/* страницы изображений */

.new_page_img {
  width: 80vw;
  /* height: 80vh; */
  padding: 2% 5% 2% 5%;
  border: 4px groove aqua;
  margin-left: 5%;
}

.page_img {
  border: 4px groove aqua;
  width: 80vw;
  /* height: 80vh; */
}

.new_page_img_book {
  width: 50vw;
  /* height: 55vh; */
  padding: 2% 5% 2% 5%;
  border: 4px groove aqua;
  margin-left: 20%;
}

.page_img_book {
  border: 4px groove aqua;
  width: 50vw;
  /* height: 55vh; */
}

/* страницы жанров */

.content_gallery_page_genre {
  display: inline-block;
  width: 250px;
  margin: 40px 10px 10px 10px;
  padding: auto;
  justify-content: space-around;
  border-radius: 5%;
  padding: 2%;
  border: 3px solid black;
}

.gallery_text_page_genre {
  text-align: left;
  color: lavender;
  font-size: 1rem;
  margin-left: 8%;
}

.img_genre_page_genre {
  display: inline-block;
  width: 200px;
  border-radius: 5%;
  border: 3px solid #121811;
  margin-left: 8%;
  background-color: gray;
}

.img_gallery_page_genre {
  display: inline-block;
  width: 200px;
  border: 3px solid black;
  border-radius: 5%;
  background-color: gray;
  margin: 5px;
  justify-content: space-around;
}

.gallery_text_page_genre2 {
  font-size: 1.5rem;
  font-family: "Marck Script", cursive;
  line-height: 1.5rem;
  text-align: center;
  color: lavender;
}

.work_page_gente {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

@media (min-width: 768px) {
  .fix_head {
    font-size: 3rem;
  }

  .head_logo {
    width: 120px;
  }

  .main_page_name {
    font-size: 2.5rem;
    margin: 30px auto 0;
    font-family: "Amatic SC", cursive;
  }

  .page_article_about {
    display: inline-block;
    vertical-align: top;
    width: 85%;
    height: 24%;
    margin: 50px 10%;
    border: 4px double black;
    overflow: auto;
  }

  .img_page_about {
    height: 120px;
    width: 105px;
    float: left;
    margin-left: 3%;
    margin-right: 20px;
    border-radius: 20%;
  }

  .img_page_about:hover {
    border: 2px inset blue;
    margin-right: 16px;
    transition: 0.5s;
  }

  .page_article_about_text {
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 20px;
    padding-right: 10%;
  }

  .gallery_text {
    font-size: 2 rem;
    font-family: "Marck Script", cursive;
    line-height: 1.5rem;
    text-align: center;
    color: lavender;
  }

  .content_gallery {
    display: inline-block;
    width: 375px;
    height: 240px;
    border: 3px solid black;
    border-radius: 5%;
    margin: 40px 10px 10px 10px;
    padding: auto;
    justify-content: space-around;
  }

  .img_gallery {
    display: inline-block;
    width: 275px;
    height: 140px;
    border: 3px solid black;
    border-radius: 5%;
    background-color: gray;
    /* margin: 40px 10px 10px 10px;   */
  }

  .img_genre {
    width: 275px;
    height: 140px;
  }

  .img_genre_book {
    width: 140px;
    height: 275px;
  }

  .img_progress {
    display: inline-block;
    width: 209px;
    height: 150px;
    border-radius: 5%;
    background-color: gray;
  }

  .img_progress_book {
    display: inline-block;
    width: 150px;
    height: 209px;
    border-radius: 5%;
    background-color: gray;
  }

  .gallery_info {
    font-size: 1.2rem;
  }

  .place_pic_progress_album {
    width: 275px;
    height: 140px;
  }

  .place_pic_progress_book {
    display: inline-block;
    width: 140px;
    height: 275px;
    border-radius: 5%;
    margin: 40px 10px 10px 10px;
    padding: auto;
    justify-content: space-around;
  }

  .contact_mail {
    font-size: 1rem;
  }

  .new_page_img_book {
    width: 30vw;
    /* height: 85vh; */
    padding: 2% 5% 2% 5%;
    border: 4px groove aqua;
    margin-left: 28%;
  }

  .page_img_book {
    border: 4px groove aqua;
    width: 30vw;
    /* height: 85vh; */
  }

  /* страница жанров */

  .img_genre_page_genre {
    display: inline-block;
    width: 225px;
    border: 3px solid #121811;
    border-radius: 5%;
    background-color: gray;
  }

  .img_genre_page_genre:hover {
    width: 218px;
    border: 8px groove aqua;
    transition: 0.4s;
  }

  .img_gallery_page_genre {
    display: inline-block;
    width: 225px;
    border: 3px solid black;
    border-radius: 5%;
    background-color: gray;

    justify-content: space-around;
  }
}

@media (min-width: 1024px) {
  .fix_head {
    font-size: 4rem;
  }

  .main_page_name {
    font-size: 3rem;
    margin: 30px auto 0;
    font-family: "Amatic SC", cursive;
  }

  .main_page_name::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 20%;
    background: white;
    margin: 0 auto;
    left: 40%;
    bottom: -10px;
  }
  .main_page_name:hover::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 60%;
    background: white;
    margin: 0 auto;
    left: 20%;
    bottom: -10px;
    transition: 2s;
  }
  .hr_1 {
    display: none;
  }
  .nav_link:hover {
    background: darkgreen;
    transition: 0.5s;
  }
  .page_article_about {
    display: inline-block;
    vertical-align: top;
    /* width: 79vw; */
    width: auto;
    height: auto;
    margin: 50px 20%;
    border: 4px double black;
    overflow: hidden;
    padding: 2%;
  }

  .gallery {
    vertical-align: top;
    /* width: 79vw; */
    width: auto;
    margin: 50px 20%;
    border: 4px double black;
    overflow: hidden;
    animation: border_about 5s infinite;

    /* padding: 2%; */
  }

  .gallery2 {
    vertical-align: top;
    /* width: 79vw; */
    width: 100%;
    margin: 0 0 0 0;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
  }

  .img_page_about {
    height: 250px;
    width: 220px;
    float: left;
    margin-left: 5%;
    margin-right: 50px;
    border-radius: 10%;
    margin-top: 10px;
  }

  .img_page_about:hover {
    border: 2px inset blue;
    transition: 0.5s;
    margin-right: 46px;
  }

  .page_article_about_text {
    font-size: 2rem;
    line-height: 3rem;
    padding: 30px;
    padding-right: 10%;
  }

  .gallery_text {
    font-size: 1.6rem;
    font-family: "Marck Script", cursive;
    line-height: 1rem;
    text-align: center;
    color: lavender;
  }

  .content_gallery {
    display: inline-block;
    width: 460px;
    height: 300px;
    border: 3px solid black;
    border-radius: 5%;
    margin: 40px 10px 10px 10px;
    padding: auto;
    justify-content: center;
  }

  .img_gallery {
    display: inline-block;
    width: 300px;
    height: 140px;
    border: 3px solid black;
    border-radius: 5%;
    background-color: gray;
    margin: 10px 40px 10px 60px;
    justify-content: space-around;
  }

  .img_genre {
    width: 300px;
    height: 150px;
  }

  .img_genre_book {
    width: 150px;
    height: 300px;
    margin-top: 50px;
  }

  .img_progress {
    display: inline-block;
    width: 209px;
    height: 150px;
    border-radius: 5%;
    background-color: gray;
  }

  .img_progress_book {
    display: inline-block;
    width: 150px;
    height: 209px;
    border-radius: 5%;
    background-color: gray;
    justify-content: space-around;
  }

  @keyframes genre_road {
    from {
      position: relative;
    }
    25% {
      top: -1px;
      left: -7px;
    }
    50% {
      top: -2px;
      left: -15px;
    }
    75% {
      top: -3px;
      left: -26px;
    }
    to {
      top: -4px;
      left: -30px;
    }
  }

  .img_genre:hover {
    position: relative;
    width: 364px;
    height: 184px;
    border: 3px inset aqua;
    animation: genre_road 0.5s;
    animation-fill-mode: forwards;
    transition: 0.5s;
  }

  .img_genre_book:hover {
    position: relative;
    width: 190px;
    height: 340px;
    border: 3px inset aqua;
    margin-top: 0px;
  }

  .img_progress:hover {
    position: relative;
    width: 253px;
    height: 194px;
    border-radius: 5%;
    border: 3px inset aqua;
    background-color: gray;
    transition: 0.4s;
  }

  .img_progress_book:hover {
    display: inline-block;
    width: 194px;
    height: 253px;
    border-radius: 5%;
    border: 3px inset aqua;
    background-color: gray;
    justify-content: space-around;
    transition: 0.4s;
  }

  .gallery_info {
    font-size: 1.4rem;
  }

  .place_pic_progress_album {
    width: 300px;
    height: 140px;
  }

  .place_pic_progress_book {
    display: inline-block;
    width: 140px;
    height: 300px;
    border-radius: 5%;
    margin: 40px 10px 10px 10px;
    padding: auto;
    justify-content: space-around;
  }

  .head_logo {
    position: relative;
    width: 150px;
    top: -5px;
  }

  .contact_text {
    font-family: "Playfair Display", serif;
    text-align: center;
    color: lavender;
    margin: 50px;
    font-size: 1.5rem;
    line-height: 3rem;
  }

  .contact_mail {
    font-size: 1.5rem;
  }

  .foot_text {
    font-size: 1.2rem;
    line-height: 2rem;
  }

  .foot_contact_mail {
    font-size: 1.2rem;
  }

  /* страницы изображений */

  .new_page_img {
    width: 60vw;
    /* height: 80vh; */
    padding: 2% 5% 2% 5%;
    border: 4px groove aqua;
    margin-left: 15%;
  }

  .page_img {
    border: 4px groove aqua;
    width: 60vw;
    /* height: 80vh; */
  }

  .new_page_img_semi_book {
    width: 40vw;
    /* height: 85vh; */
    padding: 2% 5% 2% 5%;
    border: 4px groove aqua;
    margin-left: 25%;
  }

  .new_page_img_book {
    width: 30vw;
    /* height: 85vh; */
    padding: 2% 5% 2% 5%;
    border: 4px groove aqua;
    margin-left: 30%;
  }

  .page_img_semi_book {
    border: 4px groove aqua;
    width: 40vw;
    /* height: 85vh; */
  }

  .page_img_book {
    border: 4px groove aqua;
    width: 30vw;
    /* height: 85vh; */
  }

  /* страница жанров */

  .content_gallery_page_genre {
    width: 300px;
  }

  .img_genre_page_genre {
    display: inline-block;
    width: 250px;
    border-radius: 5%;
    background-color: gray;
  }

  .img_genre_page_genre:hover {
    width: 245px;
    border: 3px solid aqua;
    transition: 0.4s;
  }

  .img_gallery_page_genre {
    display: inline-block;
    width: 250px;
    justify-content: space-between;
    /* border-color: red; */
    background-color: none;
  }
}

@media (min-width: 1400px) {
  .head_logo {
    position: relative;
    width: 150px;
    top: -10px;
  }

  .new_page_img {
    width: 45vw;
    /* height: 80vh; */
    padding: 2% 5% 2% 5%;
    border: 4px groove aqua;
    margin-left: 20%;
  }

  .page_img {
    border: 4px groove aqua;
    width: 45vw;
    /* height: 80vh; */
  }

  .new_page_img_book {
    width: 30vw;
    /* height: 85vh; */
    padding: 2% 5% 2% 5%;
    border: 4px groove aqua;
    margin-left: 30%;
  }

  .page_img_book {
    border: 4px groove aqua;
    width: 30vw;
    /* height: 85vh; */
  }
}
